<!DOCTYPE html>
<html>
<head>
    <title>Car Price Prediction</title>
</head>
<body>
    <h2>Enter Car Details</h2>
    <form action="/predict" method="post">
        Car Name: <input type="text" name="car_name"><br><br>
        Year of Manufacture: <input type="number" name="yr_mfr"><br><br>
        Fuel Type: <input type="text" name="fuel_type"><br><br>
        KMs Run: <input type="number" step="0.01" name="kms_run"><br><br>
        Sale Price: <input type="number" step="0.01" name="sale_price"><br><br>
        City: <input type="text" name="city"><br><br>
        Times Viewed: <input type="number" name="times_viewed"><br><br>
        Body Type: <input type="text" name="body_type"><br><br>
        Transmission: <input type="text" name="transmission"><br><br>
        Variant: <input type="text" name="variant"><br><br>
        Assured Buy: <input type="text" name="assured_buy"><br><br>
        Registered City: <input type="text" name="registered_city"><br><br>
        Registered State: <input type="text" name="registered_state"><br><br>
        Is Hot: <input type="text" name="is_hot"><br><br>
        RTO: <input type="text" name="rto"><br><br>
        Source: <input type="text" name="source"><br><br>
        Make: <input type="text" name="make"><br><br>
        Model: <input type="text" name="model"><br><br>
        Car Availability: <input type="text" name="car_availability"><br><br>
        Total Owners: <input type="number" name="total_owners"><br><br>
        Broker Quote: <input type="number" step="0.01" name="broker_quote"><br><br>
        Original Price: <input type="number" step="0.01" name="original_price"><br><br>
        Car Rating: <input type="number" step="0.01" name="car_rating"><br><br>
        Ad Created On: <input type="text" name="ad_created_on"><br><br>
        Fitness Certificate: <input type="text" name="fitness_certificate"><br><br>
        EMI Starts From: <input type="number" step="0.01" name="emi_starts_from"><br><br>
        Booking Down Payment: <input type="number" step="0.01" name="booking_down_pymnt"><br><br>
        Reserved: <input type="text" name="reserved"><br><br>
        Warranty Available: <input type="text" name="warranty_avail"><br><br>

        <input type="submit" value="Predict">
    </form>

    <h3>{{ prediction_text }}</h3>
</body>
</html>